# Google AI Configuration
GOOGLE_API_KEY="XXXXXXXXXXXXXXXXXX"
MODEL=gemini-2.5-flash-lite

# Langfuse Configuration (optional but recommended)
LANGFUSE_SECRET_KEY = "XXXXXXXXXXXXXXXXXX"
LANGFUSE_PUBLIC_KEY = "XXXXXXXXXXXXXXXXXX"
LANGFUSE_HOST = "https://cloud.langfuse.com"

# Application Settings
DEBUG=False
LOG_LEVEL=INFO
TEMPERATURE=0.7
MAX_OUTPUT_TOKENS=2048

# Database Configuration
# Database Configuration
MONGO_URI=mongodb+srv://${USERNAME}:${PASSWORD}@cluster0.xxxxx.mongodb.net/${DBNAME}?retryWrites=true&w=majority
USERNAME=your_username
PASSWORD=your_password
DBNAME=your_dbname